<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD49nGBhd7EjJoXHnzdanIW_kxyKhYK7i0</string>
	<key>GCM_SENDER_ID</key>
	<string>213222081592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventhive</string>
	<key>PROJECT_ID</key>
	<string>eventhive-47b68</string>
	<key>STORAGE_BUCKET</key>
	<string>eventhive-47b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213222081592:ios:e61b8277d89e3fc27a92cd</string>
</dict>
</plist>